@font-face {
  font-family: "DIMIS";
  src: local("DIMIS"), url(../fonts/DIMIS___.woff) format("woff");
  font-family: "Roobert";
  src: local("Roobert"), url(../fonts/Roobert-Regular.woff) format("woff");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                                  'embedded-opentype', and 'svg' */
}

.body {
  font-family: Roobert;
}

.like:active {
  animation: like_animation 0.2s linear;
}

@keyframes like_animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
