.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  /* margin-top: -3px; */
  font-family: Roobert;
  font-size: x-small;
  font-weight: bold;
  /* width: 70px; */
}

@font-face {
  font-family: "DIMIS";
  src: local("DIMIS"), url(../fonts/DIMIS___.woff) format("woff");
  font-family: "Roobert";
  src: local("Roobert"), url(../fonts/Roobert-Regular.woff) format("woff");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                                  'embedded-opentype', and 'svg' */
}

.body {
  font-family: Roobert;
}
