.card_header {
  height: 100px;
  background: linear-gradient(45deg, pink 10%, #fe6b8b 40%, #9047ff 70%);
  background-size: 300% 300%;
  animation: move 5s ease infinite;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@keyframes move {
  0% {
    background-position: 0% 56%;
  }
  50% {
    background-position: 100% 45%;
  }
  100% {
    background-position: 0% 56%;
  }
}
